entrypoint = "index.js"
modules = ["nodejs-22", "python-3.11"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["cargo", "glibcLocales", "libiconv", "rustc"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true
integrations = ["python_database:1.0.0"]
